.products
  background-color: aqua
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.product-item
  color: blue

.by-btn
  height: 30px
  width: 100px
  border-radius: 15px
  box-shadow: 2px 2px 5px #666666
  border-bottom: 1px solid #cccccc




  color: blueviolet





